body {
	background-color: #FFF3E0;
}

.title-area {
	background-color: #FF9800;
	margin-bottom: 20px;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-right: 30px;
	padding-left: 30px;
}

h1 a:link {
	color: white;
	text-decoration: none;
}

h1 a:visited {
	color: white;
	text-decoration: none;
}

h1 a:hover {
	color: white;
	text-decoration: none;
}

h1 a:active {
	color: white;
	text-decoration: none;
}

.contents-area {
	margin-right: 2.5%;
	margin-left: 2.5%;
}

.content {
	margin-bottom: 2%;
	cursor : pointer;
}

.content a {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	height:100%;
	width: 100%;
}

.content div {
	-webkit-transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	transition: all 0.2s linear;
}

.content div.card:hover {
	-webkit-transform: scale(1.02);
	-moz-transform: scale(1.02);
	-o-transform: scale(1.02);
	transform: scale(1.02);
}

.card img {
	width: 100%;
}

.markdown-area {
	background-color: #ffffff;
	margin-right: 2.5%;
	margin-left: 2.5%;
	margin-bottom: 2.5%;
	padding: 2.5%;
}

pre {
	background-color: #f5f5f5;
	padding: 2em 2em;
	position: relative;
}

blockquote {
	background-color: #f5f5f5;
	padding: 3em 2em;
	position: relative;
}

blockquote:before {
	content: "“";
	font-size: 600%;
	line-height: 1em;
	font-family: "ＭＳ Ｐゴシック",sans-serif;
	color: #999;
	position: absolute;
	left:0;
	top:0;
}

blockquote:after {
	content: "”";
	font-size: 600%;
	line-height: 0em;
	font-family: "ＭＳ Ｐゴシック",sans-serif;
	color: #999;
	position: absolute;
	right: 0;
	bottom: 0;
}

.button-area {
	background-color: #ff9800;
	margin-right: 2.5%;
	margin-left: 2.5%;
	border-radius: 3px;
	text-align: center;
	color: white;
}

.before-button {
	padding: 0.5em;
}

.button-area a {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	height:100%;
	width: 100%;
}

.button-area a:link {
	color: white;
	text-decoration: none;
}

.button-area a:visited {
	color: white;
	text-decoration: none;
}

.button-area a:hover {
	color: white;
	text-decoration: none;
}

.button-area a:active {
	color: white;
	text-decoration: none;
}

.leftTop{
	margin-top: 30px;
	margin-left:40px;
}
.square_btn{
    display: inline-block;
    padding: 1em 3em;
    text-decoration: none;
    font-size:150%;
    border-radius: 4px;
    color: #ffffff;
    background-image: -webkit-linear-gradient(45deg, #FFC107 0%, #ff8b5f 100%);
    background-image: linear-gradient(45deg, #FFC107 0%, #ff8b5f 100%);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
    border-bottom: solid 3px #c58668;
}

.square_btn:active{
    -ms-transform: translateY(4px);
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);
    border-bottom: none;
}

#buttonPosition{
	position: absolute;
 	bottom: 50px;
 	right: 80px;
}

#form{
	position: absolute;
	height:330px;
	width:430px;
	top:60px;
	left:40px;
	padding: 10px;
	margin-bottom: 10px;
	border: 5px double #333333;
	border-radius: 10px;
	background-color:#98fb98;
}

textarea#todoForm{
	margin-left: 10px;
}